<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Server=36b47476-66e5-47c0-87d9-a5b00085e7e6.sqlserver.sequelizer.com;Database=db36b4747666e547c087d9a5b00085e7e6;User ID=bzvntyjkffezrzrt;Password=XwZXAaFgvCJTEV88oToLoXisjeDKqQ68ztCuFUFdxSjqwK2zmjQ4NfEaoFMvC5XN;"
      providerName="System.Data.SqlClient" />

    <add name="DatabaseConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>